<h1>Identification</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email, "eMail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Log In" %>
  </div>
<% end %>

<p>Not a member yet? <%= link_to "Sign in !", signup_path %></p>