<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
      <%= f.label "Location", :class => "field_title" %><br>
      <% 
          options=[]
          locs=Location.all 
          options<<["Select One", ""]
          locs.each do |l|
            options<<[l.name,l.id]
          end
      %>
      <%= f.select :id_location, options_for_select(options), :class => "blank" %>
    </div>
  
  <div class="field">
    <%= f.label :name, :class => "field_title" %><br>
    <%= f.text_field :name, :class => "blank" %>
  </div>
  <div class="field">
    <%= f.label :date, :class => "field_title" %><br>
    <%= f.text_field :date, :class => "blank" %>
  </div>
  <div class="field">
    <%= f.label :duration, :class => "field_title" %><br>
    <%= f.text_field :duration, :class => "blank" %> <!-- display list -->
  </div>
  <div class="field">
      <%= f.label "Cathegory", :class => "field_title" %><br>
      <% 
          options=[]
          cats=Cathegory.all 
          options<<["Select One", ""]
          cats.each do |c|
            options<<[c.name,c.id]
          end
      %>
      <%= f.select :id_cathegory, options_for_select(options), :class => "blank" %>
    </div>
  
  <div class="field">
    <%= f.label :description, :class => "field_title" %><br>
    <%= f.text_area :description, rows: 15, cols: 80, :class => "blank" %>
  </div>
  <div class="field">
    <%= f.label :privacy, :class => "field_title" %><br>
    <%= f.check_box :privacy %>
  </div>
  <% if current_user.name == "administrator" %>
  <div class="field">
    <%= f.label :accepted, :class => "field_title" %><br>
    <%= f.check_box :accepted %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

