<p id="notice"><%= notice %></p>

<p>
  <strong>Id activity:</strong>
  <%= @user_act.id_activity %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @user_act.id_user %>
</p>

<%= link_to 'Edit', edit_user_act_path(@user_act) %> |
<%= link_to 'Back', user_acts_path %>
